
@font-face{
    font-family: 'GeistSans';
    src: url('/geist-sans/Geist-Regular.woff2') format('woff2');
}

@font-face{
    font-family: 'GeistMono';
    src: url('/geist-mono/GeistMono-Regular.woff') format('woff');
}