.game-over-overlay{
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(5px);
    z-index: 1000;
}

.game-over-modal{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.4);
    z-index: 1000;
    background-color: #111827;
    border-radius: 5px;
    width: 450px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1.5rem 2rem;
    gap: 1rem;
    animation: scaleUp 0.3s ease-in-out forwards;

    &.closing {
        animation: scaleDown 0.3s ease-in-out forwards;
    }

    h2{
        font-family: var(--main-font);
        font-size: 34px;
        font-weight: medium;
        color: white;
    }
}

@keyframes scaleUp {
    0% {
        transform: translate(-50%, -50%) scale(0.4);
    }
    100% {
        transform: translate(-50%, -50%) scale(1);
    }
}

@keyframes scaleDown {
    0% {
        transform: translate(-50%, -50%) scale(1);
    }
    100% {
        transform: translate(-50%, -50%) scale(0.4);
    }
}

.game-over-body{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;

    p{
        font-family: var(--geist-sans);
        font-size: 17px;
        font-weight: medium;
        color: #9ca3af;
    }

    button{
        outline: none;
        border: none;
        background-color: var(--purple);
        color: #fff;
        width: 100%;
        border-radius: 5px;
        padding: 0.5rem 0;
        font-family: var(--main-font);
        font-size: 16px;
        font-weight: 500;
        cursor: pointer;

        &:hover{
            background-color: #5f37a8;
        }
    }
}